.imagenes-alimentos{
width: 500px;
height: 500px;
}

.imagenes-bebidas{
width: 500px;
height: 500px;
}

.imagenes-lacteos{
width: 500px;
height: 500px;
}

.imagenes-sanidad{
width: 500px;
height: 500px;
}

.imagenes-snacks{
width: 500px;
height: 500px;
}

.imagenes-pruebas{
    width: 500px;
    height: 500px;
}